.home-container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 6rem 10rem;
}

.home-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#self-name {
    font-size: 4rem;
    font-weight: bolder;
    color: white;
}

#self-title {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 450px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(199, 114, 196, 0.477);
}

.social-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.social-container ul li a {
    text-decoration: none;
    color: white;
    padding: .2rem;
    font-size: 2rem;
}

.more-links {
    display: flex;
    gap: 1rem;
}

#learn-more, #view-resume {
    text-decoration: none;
    color: white;
    font-size: .75rem;
    font-weight: bold;
    border: 0.8rem solid rgba(216, 14, 216, 0.613);
    background: #D80ED8;
    border-radius: 5rem;
    width: 10rem;
}

@media (max-width: 992px) {
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem;
    }

    .home-desc,
    .home-img {
        text-align: center;
        align-items: center;
    }

    .home-img {
        order: -1;
    }

    #self-name {
        font-size: 3rem;
    }
}

