.projects-container {
    width: 100%;
    padding: 2rem 4rem;
    color: white;
}

#projects{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .projects-container {
        padding: 1rem;
    }
}