.total-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem;
}

.total-form-container h2 {
    text-align:center;
    padding-bottom: 2rem;
    font-size: 3rem;
    color: white;
}

.contact-form-container {
    padding: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    width: 100%;
} 

.contact-form-container p {
    color: white;
    padding: .5rem;
} 

.contact-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

::placeholder {
    color: white;
    opacity: .5;
}

.contact-form input, textarea{
    padding: .5rem .3rem;
    margin: .5rem;
    background: none;
    border: 1px solid white;
    border-radius: .25rem;
}

.contact-form textarea {
    resize: none;
}

.form-button-container {
    display: flex;
    justify-content: center;
}


.contact-form button {
    text-align: center;
    padding: 1rem;
    margin-top: .5rem;
    background-color: #D80ED8;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
} 